<html lang="uk">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leaflet</title>

    <!-- My CSS -->
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link type="text/css" href="leaflet/leaflet.css" rel="stylesheet">
    <link type="text/css" href="css/ion.rangeSlider.css" rel="stylesheet">
    <link type="text/css" href="css/ion.rangeSlider.skinModern.css" rel="stylesheet">

    <!-- Init Vue JS -->
    <script src="js/vue.js"></script>
    <script src="js/jquery.js"></script>
    <script src="leaflet/leaflet.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/colorbrewer.v1.min.js"></script>
    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="app">

<div id="map"></div>

<div id="settings">
<div>
    <img src="logo.png" style="width:70%;" />
    <h3>НАЛАШТУВАННЯ КАРТИ</h3>

    <div>
        <p class="label label-primary">Тип карти</p>
    </div>

    <select class="form-control" v-model="map_type">
      <option v-for="type in filters.map_type" v-bind:value="type">
        {{ type }}
      </option>
    </select>

    <br>

    <div>
        <p class="label label-primary">Схема кольорів</p>
    </div>

    <select class="form-control" v-model="current_filter.map_color">
      <option v-for="color in filters.map_color" v-bind:value="color">
        {{ color }}
      </option>
    </select>

    <br>
    <hr/>

    <div>
        <p class="label label-primary">Тип даних</p>
    </div>

    <select class="form-control" v-model="current_filter.map_filter">
      <option v-for="filter in filters.map_filter" v-bind:value="$index">
        {{ titles[filter] }}
      </option>
    </select>

    <br>
    <hr/>

    <span class="info">{{{ info }}}</span>
</div>
</div>


    <!-- Main Script -->
    <script src="data.js"></script>
    <script src="titles.js"></script>
    <script src="js/main.js"></script>

</body>

</html>